/output/*
/0.0018checkpoint_best.pth.tar
/4.58checkpoint_best.pth.tar
/16.64checkpoint_best.pth.tar
/60.5checkpoint_best.pth.tar
/checkpoints/*
/dataset
/evaluation_results
*.pyc
*.tar
*.log
*.csv
/train
/train_compress_only
/train_compress_only_*
/wandb


